.about-bg {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr fr;
    grid-template-rows: 1fr 1ffr;
    grid-template-areas:
        "img head"
        "img body";
    /* justify-content: center; */
    align-items: center;
    background-color: #16703c;
}

.abt {
    margin-top: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.about-heading {
    text-align: center;
    grid-area: head;
}

.about-image-container {
    height: 600px;
    width: 400px;
    grid-area: img;
    margin-top: 100px;
}

.about-image-container > img {
    height: 100%;
    width: 100%;
    border-radius: 5%;
    margin-left: 250px;
}

.about-content {
    grid-area: body;
}
