body {
    display: grid;
    grid-template-rows: 1fr 100fr;
}

/* #content {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
} */

.home-bg {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}

.hero {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

#content h1 {
    color: white;
}

#content h3 {
    color: #746b58;
}
