body {
    overflow: hidden;
}

.menu-bg {
    height: 200vh;
    width: 100%;
    overflow: hidden;
    background-color: #86bd5f;
    display: grid;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}

.menu-body {
    margin-top: -800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 200px;
}

.menu-card {
    border-radius: 10px;
    height: 450px;
    width: 300px;
}

.menu-heading {
    font-size: 40px;
    font-weight: normal;
}

.menu-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: bold;
    display: grid;
    justify-content: center;
}

.item-price {
    height: 50px;
    width: 200px;
    margin: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 24px;
    padding: 5px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}
