/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

body {
    background-image: url("artem-beliaikin-TSS-1aqoRXE-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    backdrop-filter: blur(5px);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

nav > button {
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0.2);
    z-index: 10;
}

nav > button:hover,
.currentPage {
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.5);
    transition: background-color 0.3 ease, font-weight 0.3 ease;
}

#content {
    opacity: 1;
    transition: opacity 0.5 ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
